body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
   
      background-color: #F8F7F4;
 
  }
  
  .form-container {
   
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color:#F8F7F4;
  }

.btn-primary {
    margin-top: 20px; 
    color: #ffffff; 
    background-color: #6883A6; 
    border: none; 
    font-size: 16px;
    padding: 10px 20px; 
    transition: background-color 0.3s ease; 
    width: 100%; 
    border-radius: 5px; 
    cursor: pointer; 
  }
  
  .btn-primary:hover {
    background-color: #A5B9D1;
  }
  